body {
	padding: 25px;
}

div {
	font-family: sans-serif;
}

.section {
	min-height: 10em;
	/*height: 6em;*/
	padding: 25px;
	margin: 25px;
	/*top right bottom left*/
	/*padding: 0px 0px 25px 0px;*/
	/*top/bottom left/right*/
	/*padding: 25px 0px;*/
	border: dotted gray 5px;
}

#mainArticle {
	font-weight: bold;
	top: 5em;
	left: 0em;
	position: absolute;
	width: 25em;
	/*position: fixed;*/
	/*position: static;*/
	min-height: 20em;
	max-height: 20em;
}

#second {
	top: 5em;
	left: 30em;
	position: absolute;
	width: 25em;
	min-height: 20em;
	max-height: 20em;
}

#third {
	display: none;
}

#forth {
	display: none;
}

.even {
	/*RGG # Red Green Blue 0-F*/
	background-color: #CCCCCC; /*#CCC*/
	background-color: #CA9; /*#CCAA99*/
	/*background-color: chocolate;*/
	/*If we want to hide stuff*/
	/*display: none; */
}

.odd {
	text-align: right;
	vertical-align: middle;
	overflow: hidden;
}

.content {
	overflow-y: scroll;
	/*height: 6em;*/

}